{% load static %}
        <!-- footer area start -->
        <footer class="main-footer bgc-gray footer-white rel z-1">
            <div class="footer-cta-wrap">
                <div class="container">
                    <div class="footer-cta-inner bgs-cover" style="background-image: url({% static 'images/footer/footer-cta-bg.jpg' %});">
                        <div class="section-title wow fadeInLeft delay-0-2s">
                            <span class="sub-title">Need Any Consultations ?</span>
                            <h2>We’re Ready to Growth IT Business</h2>
                        </div>
                        <a href="contact.html" class="theme-btn style-three wow fadeInRight delay-0-2s">Get Free Quote <i class="fas fa-long-arrow-right"></i></a>
                        <div class="hotline wow fadeInRight delay-0-2s">
                            <i class="fas fa-phone"></i>
                            <div class="content">
                                <span>Hotline</span><br>
                                <a href="callto:+000(123)45688">+000 (123) 456 88</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row medium-gap">
                    <div class="col-xl-3 col-sm-6">
                        <div class="footer-widget widget_about wow fadeInUp delay-0-2s">
                            <div class="footer-logo mb-30">
                                <a href="{% url 'home' %}"><img src="{% static 'images/logos/logo-alignflix.jpg' %}" alt="Logo"></a>
                            </div>
                            <p>Sed perspiciatis unde omnste natus error voluptatem accusanti doloreue audantium totamrem aeriam.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 order-xl-2">
                        <div class="footer-widget widget_newsletter wow fadeInUp delay-0-6s">
                            <h4 class="footer-title">Newsletter</h4>
                            <p>Sed perspiciatis unde omnste natus error voluptatem accusante.</p>
                            <form action="#">
                                <label for="email"><i class="far fa-envelope"></i></label>
                                <input id="email" type="email" placeholder="support@gmail.com" required>
                                <button>Sign Up</button>
                            </form>
                            <h5>Follow Us</h5>
                            <div class="social-style-one">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-md-6 col-6 col-small">
                                <div class="footer-widget widget_nav_menu wow fadeInUp delay-0-3s">
                                    <h4 class="footer-title">Quick Links</h4>
                                    <ul class="list-style-two">
                                        <li><a href="{% url 'about-us' %}">About Company</a></li>
                                        <li><a href="services.html">Latest Services</a></li>
                                        <li><a href="faqs.html">Asked Questions</a></li>
                                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-6 col-small">
                                <div class="footer-widget widget_nav_menu wow fadeInUp delay-0-4s">
                                    <h4 class="footer-title">Services</h4>
                                    <ul class="list-style-two">
                                        <li><a href="service-details.html">Product Design</a></li>
                                        <li><a href="service-details.html">Design & Development</a></li>
                                        <li><a href="service-details.html">UX/UI Strategy</a></li>
                                        <li><a href="service-details.html">Search Engine Optimization</a></li>
                                        <li><a href="service-details.html">IT Consulting</a></li>
                                        <li><a href="service-details.html">Software Development</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom bgc-black mt-20 pt-20">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="copyright-text text-lg-center wow fadeInLeft delay-0-2s">
                                <p>© 2023 <a href="https://satyajit.vercel.app/" target="_blank">Satyajit. </a> All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-shapes">
                <img class="shape one" src="{% static 'images/footer/footer-bg-weve-shape.png' %}" alt="Shape">
                <img class="shape two" src="{% static 'images/footer/footer-bg-line-shape.png' %}" alt="Shape">
                <img class="shape three wow fadeInRight delay-0-8s" src="{% static 'images/footer/footer-right.png' %}" alt="Shape">
            </div>
        </footer>
        <!-- footer area end -->
    <!-- Scroll Top Button -->
    <button class="scroll-top scroll-to-target" data-target="html"><span class="fas fa-angle-double-up"></span></button>

</div>
<!--End pagewrapper-->
        